<div id="root"></div>
<div id="roomid" class="hidden">{ROOM}</div>
<div id="username" class="hidden">{USERNAME}</div>
<div id="role" class="hidden">{ROLE}</div>
<div id="allread" class="hidden">{ALLREAD}</div>
<div id="websocketurl" class="hidden">{WEBSOCKETURL}</div>
<div id="roomfull" class="hidden">{ROOMFULL}</div>
<div id="alreadyaccessed" class="hidden">{ALREADYACCESSED}</div>
<div id="websocket_error" class="hidden">{WEBSOCKETERROR}</div>
<div id="disclaimer"><button>X</button> <span id="disclaimer_text">{DISCLAIMER}</span></div>
